/*
!/.gitignore
!/Assets/
!/Packages/
!/ProjectSettings/

/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
*.csproj
*.sln
*.slnx
*.user
*.log
*.pdf
*.doc
*.docx
*.md
**/.codex/
**/.agents/
**/.cursor/
**/.gemini/
**/.vscode/
**/.idea/
